@media(min-width:870px) {
    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .main-header-con {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container {
        padding: 30px 150px;

    }

    .main-header-con {
        background-color: #047aed;
        color: white;
        height: 350px;
    }

    .main-header {
        width: 55%;
    }

    .form-con {
        width: 40%;
        height: 340px;
        background-color: white;
        color: gray;
        margin-top: 170px;
    }

    .main-text-con {
        margin-bottom: 50px;
    }

    .main-icon-con {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .main-intro {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    .intro-logo {
        display: flex;
        align-items: center;
        width: 50%;
    }


    .intro-text {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .intro-p {
        width: 80%;
        align-self: start;
    }

    .cloud-host {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .cloud-host-text {
        width: 55%;
        text-align: center;
        align-self: center;
    }

    .cloud-host-logo {
        width: 45%;
    }

    .language img {
        width: 100px;
    }

    .language-logo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .footer-text h2, p {
        margin-bottom: 15px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        color: white;
        align-items: center;
    }

    .features-intro {
        display: flex;
        justify-content: space-between;
    }

    .features-intro img {
        width: 200px;
    }

    .features-intro-text {
        width: 45%;
    }


    .features-intro-text p {
        line-height: 1.8rem;
    }

    .features-body {
        display: flex;
        justify-content: space-between;
    }

    .features-body img {
        width: 250px;
    }

    .features-body-text {
        align-self: center;
        width: 50%;
    }

    .features-body-text h2 {
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .features-main-footer {
        margin: 20px 0;
    }

    .grid {
        display: grid;
        grid-row-gap: 15px;
        grid-column-gap: 25px;
        grid-template-columns: repeat(1fr 1fr 1fr);
        grid-template-rows: repeat(1fr 1fr 1fr);
        grid-template-areas:
            "header header header"
            "sidebar sidebar main"
            "footer1 footer2 footer3"
    }

    .area1 {
        grid-area: header;
    }

    .area2 {
        grid-area: sidebar;
    }

    .area1, .area2, .area3, .area4, .area5, .area6 {
        display: flex;
        align-items: center;
        padding: 15px 10px;
    }

    .docs-section {
        display: flex;
        gap: 30px;
    }

    .docs-text1 ul {
        flex-direction: column;
    }

    .p2 {
        display: none;
    }
}

@media(max-width:600px) {
    .container {
        padding: 0;
        padding: 10px;
        text-align: center;
    }

    .docs-section {
        width: 90%;
        margin: auto;
    }

    .header-text {
        margin: 20px 0;
    }

    nav {
        margin-top: 30px;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 10px 0;
        width: 80%;
        margin: auto;
    }

    ul {
        justify-content: center;
    }

   .main-header {
    animation: slideFromTop 1s ease-in;
   }

    .form-con {
        position: relative;
        top: 50px;
        height: 350px;
        animation: slideFromBottom 1s ease-in;
    }

    .main-container {
        margin-top: 80px;
    }

    .main-text-con {
        width: 100%;
    }

    .main-text-con p {
        font-size: 22px;
    }

    .fa-3x {
        font-size: 80px;
    }

    .intro-p {
        text-align: start;
        padding: 20px 15px 10px 15px;
        margin-top: 25px;
        height: 20%;
    }

    .cloud-host {
        margin-top: 30px;
    }

    .cloud-host-text {
        padding-top: 20px;
        text-align: center;
    }

    .cloud-host-logo {
        padding-top: 20px;
    }

    .language img {
        width: 100px;
    }

    .language-logo {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-text, .footer-nav {
        margin-bottom: 20px;
    }

    .footer-icon {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .features-intro-text p {
        line-height: 1.8rem;
    }

    .features-intro-logo, .features-body-logo, .cloud-host-logo {
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
    }

    .features-body-text {
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .features-body-text h2 {
        line-height: 3rem;
        margin-bottom: 20px;
    }

    .features-body-text p {
        margin-bottom: 20px;
        line-height: 1.8rem;
    }

    .features-main-footer {
        width: 90%;
        margin: auto;
        padding: 20px 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        grid-template-areas:
            "header"
            "main"
            "main2"
            "main3"
            "footer1"
            "footer"
    }

    .area1 {
        grid-area: header;
    }

    .area2 {
        grid-area: main;
    }

    .area3 {
        grid-area: main2;
    }

    .area4 {
        grid-area: main3;
    }

    .area5 {
        grid-area: footer1;
    }

    .area6 {
        grid-area: footer;
    }

    .area1, .area2, .area3, .area4, .area5, .area6 {
        display: flex;
        align-items: center;
        padding: 20px 10px;
    }

    .docs-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .docs-text1 {
        margin-top: 15px;
    }

    .docs-text1, .docs-text2 {
        width: 100%;
        margin-bottom: 20px;
    }

    .docs-text1 p {
        text-align: start;
    }

    .p1 {
        display: none;
    }

}

/* Tablets */

@media (max-width: 870px) and (min-width: 600px) {
    .header-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;

    }

    .container {
        padding: 0;
        padding: 20px 30px 20px 30px;
    }

    .main-header {
        width: 90%;
        margin: auto;
        padding-top: 50px;
        text-align: center;
    }


    .form-con {
        width: 60%;
        margin: auto;
        position: relative;
        top: 50px;
        height: 350px;
    }

    .main-header-con, .flex {
        flex-direction: column;
    }

    .main-container {
        margin-top: 80px;
    }

    .main-text-con {
        font-size: 60px;
        width: 70%;
    }

    .main-text-con p {
        font-size: 25px;
    }

    .main-icon-con {
        text-align: center;
    }

    .fa-3x {
        font-size: 80px;
    }

    .intro-text {
        display: flex;
        justify-content: space-between;
    }

    .intro-first-p {
        width: 60%;
    }

    .intro-text {
        margin-top: 20px;
    }

    .intro-p {
        padding: 25px 15px 10px 15px;
    }

    .cloud-host {
        margin-top: 30px;
    }

    .cloud-host-text {
        padding-top: 20px;
        text-align: center;
    }

    .cloud-host-logo {
        margin-top: 20px;
    }

    .language-logo {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .language img {
        width: 100px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .features-intro {
        text-align: center;
    }

    .features-intro-logo {
        width: 50%;
        margin: auto;
        margin-top: 30px;
    }

    .features-intro-logo {
        margin-bottom: 20px;
    }

    .features-body-text {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .features-body-text h2, p {
        margin-bottom: 20px;
        line-height: 1.8rem;
    }

    .features-body-logo {
        width: 50%;
        margin: auto;
    }

    .grid {
        display: grid;
        grid-row-gap: 15px;
        grid-column-gap: 25px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 20px 0;
    }

    .area1, .area2, .area3, .area4, .area5, .area6 {
        display: flex;
        align-items: center;
    }

    .docs-section {
        display: flex;
        flex-direction: column;
    }

    .docs-text1, .docs-text2 {
        margin-bottom: 25px;
        width: 90%;
        margin: auto;
    }

    .docs-text1 {
        width: 70%;
        margin: auto;
        margin-bottom: 20px;
    }

    .p2 {
        display: none;
    }

}